/**
@define utilities
@title Vertical alignment
@section Utilities

@description
Vertically align elements that have an appropriate `display` value.

@markup
TODO
*/
.u-alignBaseline {
  vertical-align: baseline !important;
}

.u-alignBottom {
  vertical-align: bottom !important;
}

.u-alignMiddle {
  vertical-align: middle !important;
}

.u-alignTop {
  vertical-align: top !important;
}
