/**
@define flexEmbed; weak
@title Responsive media
@section Components

@description
Flex embed allows responsive images and video to maintain their aspect ratio
at any screen resolution size. The aspect-ratio hack is applied to an empty
element because it allows the component to respect `max-height`. The default
ratio uses 100% padding for a 1:1 aspect ratio. Use the aspect ratio modifiers
for non-square embeds.

@markup
<div class="flexEmbed">
  <div class="flexEmbed_ratio"></div>
  <div class="flexEmbed_content">
    <img src="http://placeimg.com/1000/1000/arch" />
  </div>
</div>
*/
.flexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}

.flexEmbed_ratio {
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

/* Fit the content to the aspect ratio */
.flexEmbed_content,
.flexEmbed_content iframe,
.flexEmbed_content embed,
.flexEmbed_content object,
.flexEmbed_content video {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
@define Ratio modifiers
@section Components
@parent Flex embed

@description
The default ratio is set to 100%, or a 1x1 ratio. To obtain other aspect ratios,
use the modifiers that best match the desired result and/or the content of the
embed.

@markup
<div class="flexEmbed">
  <div class="flexEmbed_ratio {{modifierClass}}"></div>
  <div class="flexEmbed_content">
    <img src="http://placeimg.com/1000/1000/arch" />
  </div>
</div>

@modifiers
.flexEmbed_ratio-4x1
.flexEmbed_ratio-3x1
.flexEmbed_ratio-2x1
.flexEmbed_ratio-16x9
.flexEmbed_ratio-4x3
.flexEmbed_ratio-cinema
*/
.flexEmbed_ratio-4x1 {
  padding-bottom: 25%;
}

.flexEmbed_ratio-3x1 {
  padding-bottom: calc(100% / 3);
}

.flexEmbed_ratio-2x1 {
  padding-bottom: 50%;
}

.flexEmbed_ratio-16x9 {
  padding-bottom: 56.25%;
}

.flexEmbed_ratio-4x3 {
  padding-bottom: 75%;
}

.flexEmbed_ratio-cinema {
  padding-bottom: calc(100% / 2.35);
}

/*
@define Cover images
@section Components
@parent Flex embed

@description
You can use the cover-image modifier to maintain aspect ratio for cases where
you may need the image to be used as background.

@markup
<div class="flexEmbed {{modifierClass}}" style="background-image: url('http://placeimg.com/1000/1000/arch')">
  <div class="flexEmbed_ratio flexEmbed_ratio-16x9"></div>
  <div class="flexEmbed_content">
    <h1>Hello world</h1>
  </div>
</div>

@modifiers
.flexEmbed-cover-image
Style guideComponents - Flex embed - Cover images
*/
.flexEmbed-coverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
