/*
@define Lists
@section Base

@description
List styles are removed by default so that they can be used semantically,
separating the style concern from the semantic concern.

@markup
TODO
*/
:root {
  --list-spacing: var(--small-spacing-unit);
}

ul,
ol {
  margin: 0;
  padding: var(--list-spacing) calc(var(--list-spacing) * 2) 0;
}

li {
  margin: calc(var(--list-spacing) / 2) !important;
}
