/*
@define Typography
@section Base

@description
Default styling for typography, set at a scale ratio of 1.125 on a 24px
baseline grid

@markup
TODO
*/
:root {
  --type-color: var(--color-gray-dark);
}

html {
  font-size: var(--root-font-size);
}

body {
  color: var(--type-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
}

h3 {
  /* ~32px (1.333333^2 @18) */
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

h4 {
  /* ~24px (1.333333^1 @18) */
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
}

h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
}

p {
  margin: 0;
}

p + p {
  margin-top: 2rem;
}
